<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulong.project.dao.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.wulong.project.model.SysLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="src" jdbcType="VARCHAR" property="src" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="op_user_id" jdbcType="VARCHAR" property="opUserId" />
    <result column="op_user_name" jdbcType="VARCHAR" property="opUserName" />
    <result column="op_time" jdbcType="TIMESTAMP" property="opTime" />
    <result column="msg" jdbcType="LONGVARCHAR" property="msg" />
    <result column="param" jdbcType="LONGVARCHAR" property="param" />
    <result column="result" jdbcType="LONGVARCHAR" property="result" />
  </resultMap>
</mapper>