<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulong.project.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.wulong.project.model.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="gold" jdbcType="INTEGER" property="gold" />
    <result column="my_level" jdbcType="INTEGER" property="myLevel" />
    <result column="on_line" jdbcType="TINYINT" property="onLine" />
    <result column="disable" jdbcType="TINYINT" property="disable" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_count" jdbcType="INTEGER" property="loginCount" />
    <result column="login_theme" jdbcType="VARCHAR" property="loginTheme" />
    <result column="op_user_id" jdbcType="VARCHAR" property="opUserId" />
    <result column="op_user_name" jdbcType="VARCHAR" property="opUserName" />
    <result column="op_time" jdbcType="TIMESTAMP" property="opTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="isp" jdbcType="VARCHAR" property="isp" />
    <result column="country_id" jdbcType="VARCHAR" property="countryId" />
    <result column="region_id" jdbcType="VARCHAR" property="regionId" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="isp_id" jdbcType="VARCHAR" property="ispId" />
    <result column="like_tag" jdbcType="LONGVARCHAR" property="likeTag" />
    <result column="avatar_url" jdbcType="LONGVARCHAR" property="avatarUrl" />
  </resultMap>
</mapper>